.navbar-default .navbar-brand:hover{
  color: rgb(249, 0, 85);
}

.navbar-default .navbar-nav > li > a:hover{
  color: rgb(249, 0, 85);
}

.navbar-default{
  background: rgb(42, 26, 62);
  font-family: spartan;
  position: sticky;
  top: 0;
}
